



body {
  color: White;
  background-color: #EEB422;
}

}
div style {  position: absolute;
  top: 20px;
  left: 20px;}

<h1> {
    text-align: center;
}

<p> {
    text-align: center;
    color: White;
}
